body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffc12b;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffc12b;
}

.logo {
    height: 3rem;
    width: auto;
    margin-right: 1rem;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    color: #5b4942;
    font-size: 1.25rem;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ff5728;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.hero {
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 5rem;
}

.product-logo {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.product-logo img {
    position: relative;
    bottom: -40px;
    width: auto;
    height: 10rem;
    margin-right: 1rem;
}

h1, h2 {
    margin-bottom: 0.5rem;
    color: #ff5728;
}

h1 {
    font-size: 7rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
}

p {
    color: #5b4942;
    font-size: 1.5rem;
}

.problem, .solution {
    margin-bottom: 2rem;
}

.problem ul, .solution ul {
    list-style-type: none;
    padding: 0;
}

.problem li, .solution li {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #ff5728;
    color: #fef7b8;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    transition: color 0.3s;
    margin-top: 1rem;
}

.cta-button:hover {
    background-color: #fef7b8;
    color: #5b4942;
}

footer {
    background-color: #5b4942;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3 {
    color: #fef7b8;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
}

.footer-form input[type="email"] {
    padding: 0.5rem;
    font-size: 1.25rem;
    border: 1px solid #fef7b8;
    background-color: #fef7b8;
    color: #5b4942;
    flex: 1;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.footer-form button {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    background-color: #fef7b8;
    color: #5b4942;
    border: 1px solid #fef7b8;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.footer-form button:hover {
    background-color: #ff5728;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        display: none;
    }

    .hero {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .product-logo img {
        height: 6rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .problemli, .solution li {
        font-size: 1rem;
    }

    .cta-button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    footer {
        padding: 1rem;
    }

    footer h3 {
        font-size: 1.5rem;
    }

    .footer-form {
        flex-direction: column;
    }

    .footer-form input[type="email"] {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}